@import-normalize; /* bring in normalize.css styles */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  background-color: var(--background-color);
  color: var(--main-text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}

a:hover,
a:focus {
  color: var(--accent-color);
}

button {
  padding: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 40px 20px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 40px 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

.title {
  color: var(--accent-color);
  margin-bottom: 40px;
}

.main-container {
  display: flex;
  gap: 70px;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .main-container {
    flex-direction: row;
  }
}

.sub-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
